<div class="chat">
    <aside class="chat__aside chat-aside">
        <div class="chat-aside__profile">
            {{{ profileLink }}}
        </div>
        <div class="chat-aside__chats">
            Список чатов
        </div>
    </aside>
    <div class="chat__main chat-main">
        {{#if currentChat}}
            <header class="chat-main__header">Хедер чата</header>
            <main class="chat-main__body">Тело чата</main>

        {{else}}
            <div class="chat-main__body">
                <h2>Пустой чат</h2>
            </div>
        {{/if}}
        <form class="chat-main__submit-form">
            {{{ buttonAttachFile }}}
            {{{ inputSendMessage }}}
            {{{ buttonSubmit }}}
        </div>
    </div>
</div>
